body{
    background-color: black;
}

.heading {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 100px;
    font-family: "chicago-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.instructions {
    color: white;
    text-align: center;
    font-family: "secret-service-typewriter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#result {
    color: white;
    font-family: "secret-service-typewriter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    border: solid 3px white;
    margin-top: 10px;
    margin-right: 32px;
}

#greeting {
    color: white;
    text-align: center;
    font-family: "secret-service-typewriter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

#scoreboard {
    color: white;
    text-align: center;
    font-family: "secret-service-typewriter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

#resetBtn {
    color: white;
    text-align: center;
    font-family: "secret-service-typewriter", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}